.nav-link, .navbar-brand { color: #FDF9F6; }
.navbar-brand:hover { color: #FDF9F6; }
.nav-link, .nav-link-active { font-size: medium; }
.card, .sidebar { background-color:#FDF9F6 !important; border-radius : 0rem; }
.test {
    color: #93AFC2;
}